{% extends "hello/test_base.html" %}
{% block body %}
<div id="body-block">
  <div id="map"></div>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
    map = new OpenLayers.Map("map");
    map.addLayer(new OpenLayers.Layer.OSM());

    var pois = new OpenLayers.Layer.Text( "My Points",{ location:"/media/Markers/longlat.txt", projection: map.displayProjection});
    map.addLayer(pois);

    var layer_switcher= new OpenLayers.Control.LayerSwitcher({});
    map.addControl(layer_switcher);

    var lonLat = new OpenLayers.LonLat( -0.1279688 ,51.5077286 )
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          );

    var zoom=16;
    map.setCenter (lonLat, zoom);
  </script>
</div>
  <style>
    body{
      overflow:hidden;
    }
    #OpenLayers_Control_Attribution_7{
        bottom: 65;
    }
  </style>
{% endblock body %}