{% extends "hello/base.html" %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.6.1/css/ol.css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.6.1/build/ol.js"></script>
    <style>
      .map {
        position: fixed;
        display: flex;
        height: calc(100% - 66px);
        width: 100%;
      }
      body {
        position: relative;
        height: 100%;
        min-height: 250px;
        min-width: 210px;
      }
      .ol-attribution{
        font-size: 10px;
      }
    </style>
{% endblock head %}

{% block body %}
{% endblock body %}

{% block map %}
<div id="map" class="map"></div>
{% load static %}
<script>

var array = [
    {% for GpsData in GpsDataList %}
        [{{ GpsData.longitude }}, {{ GpsData.latitude }}],
    {% endfor %}
];

const tilelayer = new ol.layer.Tile({source: new ol.source.OSM()});

var map = new ol.Map({
  target: 'map',
  layers: [tilelayer],
  view: new ol.View({
    center: ol.proj.fromLonLat([-0.12778700618, 51.5077000112]),
    zoom: 16
  })
});

var points = [[-0.12778700618, 51.5077000112], [-0.1277870,	51.507], [-0.1287870, 51.507]];

var feature = new ol.Feature({
    geometry: new ol.geom.LineString(array)
});

feature.getGeometry().transform('EPSG:4326', 'EPSG:3857');

var vectorSource= new ol.source.Vector({
    features: [feature]
});
var vectorLayer = new ol.layer.Vector({
    source: vectorSource
});

map.addLayer(vectorLayer);

console.log(array);
console.log(points);


 </script>
{% endblock map %}