{% extends "hello/base.html" %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.6.1/css/ol.css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.6.1/build/ol.js"></script>
    <style>
      .map {
        position: fixed;
        display: flex;
        height: calc(100% - 66px);
        width: 100%;
      }
      body {
        position: relative;
        height: 100%;
        min-height: 250px;
        min-width: 210px;
      }
    </style>
{% endblock head %}
{% block body %}
<div id="map" class="map"></div>
<script>
const tilelayer = new ol.layer.Tile({source: new ol.source.OSM()});
const source = new ol.source.Vector();
const vector = new ol.layer.Vector({source: source});

const map = new ol.Map({
  target: 'map',
  layers: [tilelayer, vector],
  view: new ol.View({
    center: ol.proj.fromLonLat([-0.12778700618, 51.5077000112]),
    zoom: 16
  })
});

function addFeature() {
    const vector = new ol.layer.Vector()
    const coord = [-0.127787, 51.5077];
    const geom = new ol.geom.Point(ol.proj.fromLonLat(coord))
    const feature = new ol.Feature(geom)
    source.addFeature(feature);
}

window.setInterval(addRandomFeature, 1000);
 </script>
{% endblock body %}